include ../form/form
include ../step1/step1

.form#order_edit
  .form__wrapper
    .form__body
      .form__spinner
      .form__error Заказ не найден
      +step1(true)
      +docs(true)
      .form__row.form__container#edit_buttons(style='display: none')
        .form__buttons
          button.form__button#download_report Скачать отчет
          button.form__button#change_company Сменить оценочную компанию
          button.form__button#cancel_order Отменить заказ
          button.form__button.form__button--primary#done Готово


