.invoice
  img.invoice__image
.form.invoice__form#invoice
  a.form__button.form__button--primary#toInvoice( target='blank' download) Скачать квитанцию
  a.form__button#toDocs(href='/order_step3') К загрузке документов