.invoice
  img.invoice__image(src='https://placehold.it/1654x2339')
.form.invoice__form#invoice
  a.form__button.form__button--primary(href='https://placehold.it/1654x2339' target='blank') Скачать квитанцию
  a.form__button#toDocs(href='order_step3.html') К загрузке документов