.invoice
  img.invoice__image
.form.invoice__form#invoice
  a.form__button.form__button--primary#toInvoice( target='blank') Скачать квитанцию
  a.form__button#toOrder(href='/order_edit' style="display:none") К заказу
  a.form__button#toDocs(href='/order_step3' style="display:none") К загрузке документов