.partners-slider: .w
  .owl-carousel
    img(src='img/partner-1.png')
    img(src='img/partner-2.png')
    img(src='img/partner-3.png')
    img(src='img/partner-1.png')
    img(src='img/partner-2.png')
    img(src='img/partner-3.png')
