include ../form/form
include ../step1/step1

+form(0)
  .form__spinner
  .form__error Заказ не найден
  .form__payment(data-title='Во время оплаты произошла ошибка.' data-message='Попробуйте еще раз.')
  +step1()
