.menu
  margin-top: 35px

  color: #ffffff
  .w
    display: flex
    @media (max-width: $breakpoint-sm - 1)
      justify-content: center

  &__wrapper
    display: flex
    flex: 1
    align-items: center
    text-align: right
    padding-top: 8px

    @media (max-width: $breakpoint-sm - 1)
      text-align: center
      display: none
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba(0,0,0,.8)
      z-index: 1000
      transform: translateY(-50px)
      opacity: 0
    anim()

    &--visible
      @media (max-width: $breakpoint-sm - 1)
        display: block
    &--active
      @media (max-width: $breakpoint-sm - 1)
        transform: translateY(0px)
        opacity: 1

  &__hamburger,
  &__close
    display: none
    position: absolute
    right: 10px
    top: 10px
    background-color: transparent
    border: 0
    margin: 0
    padding: 0
    @media (max-width: $breakpoint-sm - 1)
      display: block

  &__hamburger
    position: fixed
    z-index: 100
    background-image: url(../img/sprite-menu.svg)

  &__close
    background-image: url(../img/sprite-close.svg)

  &__logo
    background-image: url(../img/sprite-logo.svg)
    display: inline-block
    vertical-align: middle

  ul
    flex: 1
    text-align: center
    padding: 0
    margin: 0

    @media (max-width: $breakpoint-sm - 1)
      display: block
      margin: 40px 0 50px

  li
    display: inline-block
    margin: 0 25px
    font-size: 17px

    @media (max-width: $breakpoint-md - 1)
      margin: 0 8px
      font-size: 15px

    @media (max-width: $breakpoint-sm - 1)
      font-size: 19px
      margin: 0 0 40px
      display: block

    a
      display: block
      opacity: .6
      anim()

      @media (max-width: $breakpoint-sm - 1)
        display: inline-block

  &__active a,
  li a:hover
    opacity: 1

  &__cabinet
    background-color: transparent
    border: 0
    font-size: 14px
    cursor: pointer
    padding: 0
    margin: 0
    outline: 0
    text-decoration: underline
    opacity: .8
    anim()

    &:hover
      opacity: 1

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      background-image: url(../img/sprite-cabinet.svg)
      margin-right: 14px

    @media (max-width: $breakpoint-sm - 1)
      font-size: 17px
