.form
  flex: 1 0 auto
  display: flex
  align-items: center
  justify-content: center
  padding: 20px 0

  &__wrapper
    background: #ffffff
    box-shadow: 0 21px 32px rgba(#233C4C, .05)
    max-width: 1100px
    width: 100%
    border-radius: 3px

  &__header
    border-bottom: 1px solid #D0E2ED
    padding: 35px 0 0
    min-height: 66px
    text-align: center
    ffGotham()
    cf()

    @media (max-width: $breakpoint-sm - 1)
      padding-left: 12px
      padding-right: 12px

  &__title
    //float: left
    display: inline-block
    color: #505050
    font-size: 13px
    border-bottom: 3px solid transparent
    margin: 0 30px
    padding-bottom: 8px
    text-transform: uppercase

    &--active
      color: #E94C36
      border-bottom: 3px solid #E94C36

  &__body
    padding: 24px 60px 44px

    @media (max-width: $breakpoint-sm - 1)
      padding-left: 12px
      padding-right: 12px

  &__order
    font-size: 12px
    color: #a5b7c4
    margin-bottom: 25px

  &__label
    font-size: 15px
    color: #505050
    margin-bottom: 15px

  &__mark
    display: inline-block
    //position: relative

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      text-align: center
      background: url(../img/sprite-mark.svg)
      anim()

    &--active
      //&:before
      //  background: #237eba
      //  color: #fff

      .form__mark-content
        opacity: 1
        pointer-events: all

    @media (max-width: $breakpoint-sm - 1)
      display: none

    &-content
      position: absolute
      background: #ffffff
      border: 2px solid #C1C1C1
      z-index: 1000
      padding: 28px
      border-radius: 8px
      opacity: 0
      pointer-events: none
      width: 300px
      //top: 13px
      //left: 13px
      margin-top: -10px
      margin-left: 12px
      anim()

      &--wide
        width: auto

  &__container
    display: flex
    flex-direction: row
    align-items: flex-start
    margin-left: -6px
    margin-right: -6px

    @media (max-width: $breakpoint-sm - 1)
      display: block

    & > div
      flex: 1
      & > *
        padding: 0 6px

      @media (max-width: $breakpoint-sm - 1)
        margin-bottom: 12px

  &__row
    margin-bottom: 22px

  &__apart
    max-width: 110px

    @media (max-width: $breakpoint-sm - 1)
      max-width: none

  & &__purchasePrice
    flex: 2

  & &__x2
    flex: 2

  & &__bank
    min-width: 0

  #bank
    display: none

  & &__company
    flex: 2

  &__calc
    font-size: 15px
    color: #505050
    display: flex

  &__price
    margin-left: auto
    font-size: 18px
    //font-weight: bold
    //display: inline-block
    align-self: flex-end
    line-height: 1

    #price
      font-size: 200%

  & &__buttons
    flex: 2
    text-align: right
    display: flex
    justify-content: flex-end
    @media (max-width: $breakpoint-sm - 1)
      flex-direction: column
    //margin: 0 -7px

  & &__button
    background: #898989
    display: flex
    align-items: center
    justify-content: center
    //width: 100%
    height: 64px
    padding: 0 30px
    border-radius: 4px
    border: 0
    //border: 2px solid #4caf50
    font-size: 15px
    color: #ffffff
    text-transform: uppercase
    margin: 0 7px
    anim(.15s)
    cursor: pointer
    ffGotham()
    font-weight: 500

    @media (max-width: $breakpoint-sm - 1)
      margin-bottom: 8px

    &:hover
      background-color: #656464

    &:disabled
      background: #b5b5b5

      &:hover
        background: #b5b5b5
        color: #ffffff

    &--primary
      background: #e94c36

      &:hover
        background: #c84735

  &__checkbox
    position: relative
    margin-left: 6px
    padding: 0
    display: flex
    flex: 1
    align-self: center

    input
      display: none

    input:checked + label:before
      background-image: url(../img/sprite-checkbox-checked.svg)

    label
      display: block
      vertical-align: middle
      color: #898989
      font-size: 13px
      line-height: 18px
      padding-left: 25px
      //margin-top: 20px
      &:before
        content: ''
        display: inline-block
        position: absolute
        left: 0
        top: 0
        background-image: url(../img/sprite-checkbox.svg)
        margin-right: 15px

      a
        text-decoration: underline

  &__form
    &--edit
      margin-top: 70px

  &__form,
  &__error
    display: none

  &__error, &__error + label
    text-align: center
    color: #e94c36

  &__aside
    float: right

  &__response
    text-align: right
    color: #e94c36

  &__spinner
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(#505050, 0.2);
    border-right: 1.1em solid rgba(#505050, 0.2);
    border-bottom: 1.1em solid rgba(#505050, 0.2);
    border-left: 1.1em solid #505050;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;

    &,
    &:after
      border-radius: 50%
      width: 10em
      height: 10em

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}