include ../popup/popup

+popup()#popup-confirm
  .popup__text Введите пароль
  .popup__desc#not_activated На Ваш телефон был отправлен пароль для входа в систему.
  .popup__desc#activated Введите пароль, который ранее был отправлен Вам в СМС-сообщении
  form(novalidate)
    .popup__input: +input('Пароль')(id='auth-password')
    +button('input', true)(value='Подтвердить')
    .popup__error
  .popup__footer: a.popup__resend Отправить повторно