include ../button/button
section.works#works
  .title Как это работает
  .w.works__items
    .c.c4.works__item
      .works__image
        img(src='img/works-1.svg')
      .works__name Заявка
      .works__text Вы заполняете заявку, прикладываете необходимые документы и проводите оплату удобным способом
    .c.c4.works__item
      .works__image
        img(src='img/works-2.svg')
      .works__name Осмотр
      .works__text Мы проводим осмотр объекта в удобное для Вас время
    .c.c4.works__item
      .works__image
        img(src='img/works-3.svg')
      .works__name Готово
      .works__text Через два дня передаем отчет об оценке в банк
  +button('a')(href='#header') Заполнить заявку