.profile-table#profile-table
  .profile-table__header
    .profile-table__toggle
    .profile-table__number №
    //.profile-table__date Дата регистрации заказа
    .profile-table__address Адрес объекта недвижимости
    .profile-table__show Дата и время показа
    .profile-table__status Статус заказа
    .profile-table__payment Оплата
    .profile-table__documents Документы

  .profile-table__body

  .profile-table__template
    .profile-table__item
      .profile-table__row
        .profile-table__cell.profile-table__toggle
        .profile-table__cell.profile-table__number
          .profile-table__label №
          .profile-table__value {{index}}
        //.profile-table__cell.profile-table__date
        //  .profile-table__label Дата регистрации заказа
        //  .profile-table__value {{date}}
        .profile-table__cell.profile-table__address
          .profile-table__label Адрес объекта недвижимости
          .profile-table__value {{address}}
        .profile-table__cell.profile-table__show
          .profile-table__label Дата и время показа
          .profile-table__value {{show}}
        .profile-table__cell.profile-table__status
          .profile-table__label Статус заказа
          .profile-table__value {{status}}
        .profile-table__cell.profile-table__payment
          .profile-table__label Оплата
          .profile-table__value {{paid}}
        .profile-table__cell.profile-table__documents
          .profile-table__label Документы
          .profile-table__value {{documents}}
      .profile-table__info-wrapper
        .profile-table__info
          .profile-table__info-col
            .profile-table__info-row
              .profile-table__info-label Банк:
              .profile-table__info-value {{bank}}
            //.profile-table__info-row
            //  .profile-table__info-label Тип оценки:
            //  .profile-table__info-value Простая
            .profile-table__info-row
              .profile-table__info-label Оценочная компания:
              .profile-table__info-value {{appraisalCompany}}
            .profile-table__info-row
              .profile-table__info-label Комментарий:
              .profile-table__info-value {{comment}}
          //.profile-table__info-col
            //.profile-table__info-row
            //  .profile-table__info-label Контакты оценочной компании:
            //  .profile-table__info-value 84 Osinski Circle Apt. 992
            //.profile-table__info-row
            //  .profile-table__info-label Срок:
            //  .profile-table__info-value 03-25-2017
