.profile-table
  width: 100%
  background: #ffffff
  border-radius: 3px
  box-shadow: 0 21px 32px rgba(#233C4C, .05)
  //overflow: auto
  font-size: 12px

  @media (max-width: $breakpoint-sm - 1)
    background-color: transparent
    padding: 0
    box-shadow: none

  &__template
    display: none

  &__label
    display: none
    min-width: 120px
    max-width: 120px
    font-size: 11px
    @media (max-width: $breakpoint-sm - 1)
      display: block

  &__item
    @media (max-width: $breakpoint-sm - 1)
      margin: 7px
      border-radius: 4px
      overflow: hidden

  &__header,
  &__body
    padding: 0 12px

  &__header,
  &__row
    display: flex
    cf()

  &__header
    height: 53px
    align-items: center
    border-bottom: 1px solid rgba(#979797, .2)

    @media (max-width: $breakpoint-sm - 1)
      display: none

  &__body
    padding-top: 20px
    padding-bottom: 20px
    @media (max-width: $breakpoint-sm - 1)
      padding: 0

  &__row
    padding: 12px 0
    cursor: pointer
    &:hover,
    &--active
      background: #F5F2EB
      anim()

    @media (max-width: $breakpoint-sm - 1)
      background: #ffffff
      flex-direction: column
      padding: 17px 22px
      position: relative

  &__cell
    @media (max-width: $breakpoint-sm - 1)
      display: flex
      min-width: 100%
      margin-top: 12px

      &:first-child
        margin-top: 0

  &__info
    background: #fbfbfb
    display: flex
    padding: 18px 0 18px 90px
    color: #505050
    @media (max-width: $breakpoint-sm - 1)
      padding: 17px 22px
      flex-direction: column


    &-wrapper
      max-height: 0
      overflow: hidden
      anim()

    &-col
      flex: 1

    &-row
      display: flex
      flex-direction: row
      margin-bottom: 14px
    &-label
      width: 30%
      min-width: 200px
      font-size: 13px
      @media (max-width: $breakpoint-sm - 1)
        min-width: auto
        max-width: 120px
        font-size: 11px
    &-value
      font-size: 14px
      @media (max-width: $breakpoint-sm - 1)
        font-size: 12px

  &__button
    vertical-align: bottom
    border: 1px solid #898989
    background: transparent
    color: #898989
    height: 20px
    line-height: 18px
    display: inline-block
    border-radius: 4px
    font-size: 11px
    font-weight: bold
    text-align: center
    //text-transform: uppercase
    padding: 0 5px
    cursor: pointer
    outline: 0
    anim(.15s)

    &:hover
      border: 1px solid #898989
      background: #898989
      color: #ffffff

    &.active
      color: transparent
      position: relative
      overflow: hidden

      .progress
        display: block

    .progress
      display: none
      position: absolute
      left: 0
      top: 0
      height: 100%
      background: #e94c36
      anim(.1s)

  &__toggle
    width: 30px
    position: relative
    @media (max-width: $breakpoint-sm - 1)
      position: static
    &:after
      content: ''
      display: block
      position: absolute
      left: 50%
      top: 5px
      transform: translateX(-50%)
      background: url(../../img/sprite-toggle.svg)
      anim()

      ^[0]__row--active &
        transform: translateX(-50%) rotate(180deg)

      ^[0]__header &
        display: none

      @media (max-width: $breakpoint-sm - 1)
        left: auto
        right: 8px
        top: 16px
  &__number
    width: 75px
  &__address
    flex: 1
    padding-right: 12px
  &__date
    width: 150px
  &__show
    width: 130px
  &__status
    width: 120px
  &__payment
    width: 100px
  &__documents
    width: 150px
  &__buttons
    width: 150px
    text-align: right
  &__buttons
    width: 105px
    text-align: right

    .report ~ .cancel
      margin-top: 5px