include ../button/button
section.advantages#advantages
  h3.title.advantages__title Наши преимущества
  .w.advantages__items
    .c.c4.advantages__item
      .advantages__image
        img(src='img/advantage-1.svg')
      .advantages__name Гарантия качества
      .advantages__text Отчеты об оценке полностью соответствуют требованиям вашего банка
    .c.c4.advantages__item
      .advantages__image
        img(src='img/advantage-2.svg')
      .advantages__name Короткие сроки
      .advantages__text Оформление заявки всего несколько минут в режиме онлайн, сразу отправляется в банк
    .c.c4.advantages__item
      .advantages__image
        img(src='img/advantage-3.svg')
      .advantages__name География
      .advantages__text При оформлении заказа сможете выбрать проверенную оценочную компанию в вашемрегионе
  +button('a')(href='#header') Заказать «Экспресс-оценку»