.advantages
  background: #FAFAFA
  text-align: center
  padding-bottom: 120px

  &__title
    margin-bottom: 100px

  &__items
    margin-bottom: 55px

  &__image
    height: 80px
    margin: 0 auto 20px

    img
      line-height: 1
      display: inline-block
      vertical-align: middle

  &__name
    font-size: 24px
    color: #000000
    margin-bottom: 15px
    anim()

  &__text
    font-size: 17px
    color: #505050
    max-width: 300px
    margin: 0 auto