mixin profile()
  .profile
    a.profile__logo(href='index.html')
    .profile__top
        a.profile__logout(href='index.html') Выйти
    .profile__menu
      .profile__title Личный кабинет
      a.profile__button(href='index.html') Заказать
    .profile__wrapper
      .profile__info
        //.profile__avatar: img(src='modules/profile/avatar.jpg')
        .profile__profile
          .profile__name
          //.profile__text Бонусные баллы: #[span.profile__bonus]
      .profile__stats
    include ../profile-table/profile-table