.button
  display: inline-block
  vertical-align: bottom
  border: 2px solid #E94C36
  background: transparent
  color: #E94C36
  height: 64px
  line-height: 64px
  border-radius: 4px
  font-size: 15px
  font-weight: bold
  text-align: center
  text-transform: uppercase
  padding: 0 45px
  cursor: pointer
  outline: 0
  anim(.15s)

  &:hover
    border: 1px solid #E94C36
    background: #E94C36
    color: #ffffff

  &--block
    display: block
    width: 100%

  &--white
    border-color: #fff
    color: #fff

    &:hover
      color: #227dba
      background: #ffffff