include ../input/input
include ../menu/menu

header.header#header
  +menu()
  .w
    .header__content
      h1 Закажите оценку недвижимости,
      h2.line Соответствующую всем требованиям банка за 2 минуты
      h3
        | С помощью сервиса Экспресс Оценка вы можете#[br]
        | заказать оценку у аккредитованной оценочной#[br]
        | компании в вашем регионе
    .header__form-wrapper
      .header__form-title Закажите Экспресс Оценку прямо сейчас
      form.header__form(novalidate action='order_step1}')
        .header__row
          .header__form-input.header__address: +input('Адрес объекта')
          .header__form-input.header__flat: +input('Кв.')
        .header__row
          .header__form-input.header__phone: +input('Телефон')(type='phone')
          .header__form-input.header__submit: button.header__submit-button ЗАКАЗАТЬ ОЦЕНКУ
      .header__form-error
