.header
  //min-height: 760px
  background: url(header-bg.jpg)
  background-size: cover
  color: #fff

  &__top
    @media (max-width: $breakpoint-sm - 1)
      text-align: center

  &__content
    margin-top: 60px
    text-align: center

    @media (max-width: $breakpoint-sm - 1)
      padding: 0 10px
      margin-top: 30px

  h1
    ffGotham()
    font-weight: 500
    font-size: 53px
    margin: 0

    @media (max-width: $breakpoint-sm - 1)
      font-size: 40px
      line-height: 1.1
      margin-top: 20px

  h2
    ffGotham()
    font-weight: 400
    font-size: 29px
    margin: 0
    line-height: 1.55

    &:after
      margin-top: 25px;
      margin-bottom: 25px;

    @media (max-width: $breakpoint-sm - 1)
      font-size: 20px

  h3
    font-weight: 400
    font-size: 22px
    margin: 0
    line-height: 1.4

  &__form
    margin: 0 -9px

    &-wrapper
      position: relative
      margin: 100px auto -170px
      padding: 60px 70px 50px
      background: #fff
      max-width: 620px
      box-shadow: 0 80px 60px -30px rgba(#C1C1C1, .7)
      border-radius: 3px
      z-index: 1

      //@media (max-width: $breakpoint-lg - 1)
      //  padding: 30px 35px
      //  margin-top: 50px

      @media (max-width: $breakpoint-sm - 1)
        padding 20px 10px
        border-radius: 0
        margin-bottom: 0px
        max-width: none

    &-title
      color: #000
      font-size: 22px
      margin-bottom: 25px
      text-align: center

      //@media (max-width: $breakpoint-sm - 1)
      //  text-align: center
      //  font-size: 14px
      //  line-height: 1.2
      //  span
      //    display: block
      //    font-weight: bold
      //    font-size: 23px

    &-input
      //display: inline-block
      //vertical-align: middle
      flex: 1
      padding: 0 9px

      @media (max-width: $breakpoint-sm - 1)
        display: block
        max-width: 100% !important
        margin-bottom: 22px

    &-error
      font-size: 13px
      font-weight: 300
      color: #e94c36

  &__row
    display: flex
    margin-bottom: 18px
    @media (max-width: $breakpoint-sm - 1)
      flex-direction: column
      margin-bottom: 0

  &__flat
    max-width: 95px
  &__submit
    max-width: 240px

    &-button
      ffGotham()
      display: block
      width: 100%
      border: 0
      background: #E94C36
      color: #ffffff
      height: 64px
      line-height: 1.4
      font-size: 15px
      font-weight: bold
      border-radius: 4px
      anim()
      cursor: pointer
      outline: 0
      margin: 0
      padding: 0

      &:hover
        background: #C84735

      &:disabled
        background: #898989
        cursor: auto
