.footer
  margin-top: 40px
  padding-bottom: 20px
  color: #ffffff

  .w
    display: flex
    align-items: flex-end
    @media (max-width: $breakpoint-sm - 1)
      flex-direction: column

  &--line .w
    padding-top: 25px
    padding-bottom: 25px
    color: #505050
    border-top: 1px solid rgba(#898989, .3)

  &__left
    @media (max-width: $breakpoint-sm - 1)
      width: 100%
      text-align: center

  &__logo
    background-image: url(../img/sprite-logo-dark.svg)
    @media (max-width: $breakpoint-sm - 1)
      margin: 0 auto

  &__copyright
    margin-top: 8px
    font-size: 12px

    opacity: .4

  &__links
    flex: 1
    text-align: right
    opacity: .5

    @media (max-width: $breakpoint-sm - 1)
      width: 100%
      text-align: center

  &__link
    margin-left: 8px
    font-size: 14px
    white-space: nowrap
    anim()

    &:hover
      opacity: .8