mixin footer(with_line)
  footer.footer(class=with_line && 'footer--line'): .w
    .footer__left
      if(with_line)
        .footer__logo
      .footer__copyright © 2018 «Экспресс Оценка», все права защищены
    .footer__links
      p
        |Техническая поддержка:#[br]
        |#[a(href='tel:+74952151831') +7 495 215-18-31] (c 2:00 до 19:00 по Мск)#[br]
        |support@srgroup.ru
      a.footer__link(href='/terms') Пользовательское соглашение
      |!{' '}
      a.footer__link(href='/privacy') Политика конфиденциальности
