.docs
  display: block
  color: #505050

  &__row
    display: flex
    flex-direction: row
    align-items: flex-start
    margin-bottom: 35px

    & > div
      flex:1

    @media (max-width: $breakpoint-sm - 1)
      flex-direction: column

  &__aside
    max-width: 370px
    padding-left: 100px

    @media (max-width: $breakpoint-sm - 1)
      max-width: none
      padding-left: 0
      width: 100%

  &__doc
    margin-bottom: 15px

  &__title
    font-size: 20px
    margin-bottom: 24px

  &__name
    color: #4A4A4A
    font-size: 16px
    margin-bottom: 4px

  &__desc
    font-size: 15px
    line-height: 1.55
    text-align: justify

  &__upload
    padding: 95px 0
    background: #F8F8F8
    border: 1px solid #EBEBEB
    border-radius: 8px
    position: relative
    text-align: center
    color: #E94C36
    font-size: 15px
    margin-bottom: 10px
    cursor: pointer
    overflow: hidden

    &:hover
      text-decoration: underline

    &:before
      content: ''
      display: block
      vertical-align: middle
      margin: 0 auto 15px
      background-image: url(sprite-upload.svg)

  &__input
    position: absolute
    right: 0
    top: 0
    width: 200%
    height: 200%
    opacity: 0
    cursor: pointer

  &__item
    font-size: 13px
    position: relative
    padding-right: 15px
    margin-bottom: 8px

  &__delete
    position: absolute
    right: 0
    top: 0
    border: 0
    background-color: transparent
    margin: 0
    padding: 3px
    opacity: .7
    cursor: pointer
    anim()

    &:hover
      opacity: 1
    &:after
      content: ''
      display: block
      background-image: url(sprite-delete.svg)
