extends pug/_layout
include modules/footer/footer

block html
  - var body_class = 'front-page'

block body
  include modules/header/header
  include modules/works/works
  include modules/video/video
  include modules/advantages/advantages
  include modules/partners-slider/partners-slider
  +footer(true)