extends modules/static-page/static-page

block content
  p Настоящий документ(далее – «Политика») представляет собой правила использования Обществом с ограниченной ответственностью «ЭсАрДжи-Ипотечный центр»(далее - Общество) и его аффилированными лицами персональной информации Пользователя, предоставляемой им на сайте express-ocenka.com.

  p: b 1. Термины и определения
  p #[b Субъект персональных данных] – физическое лицо, не являющееся индивидуальным предпринимателем.
  p #[b Персональные данные] – любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных).
  p #[b Информация] – сведения (сообщения, данные) независимо от формы их представления.
  p #[b Обработка персональных данных] – любое действие (операция) или совокупность действий (операций), совершаемые с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, в том числе трансграничную (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
  p #[b Автоматизированная обработка персональных данных] – обработка персональных данных с помощью средств вычислительной техники.
  p #[b Предоставление персональных данных] – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.
  p #[b Распространение персональных данных] – действия, направленные на раскрытие персональных данных неопределенному кругу лиц.
  p #[b Блокирование персональных данных] – временное прекращение обработки персональных данных (за исключением случаев, когда обработка необходима для уточнения персональных данных).
  p #[b Уничтожение персональных данных] – действия, в результате которых становится невозможным   восстановить   содержание   персональных   данных,   в   информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.
  p #[b Обезличивание персональных данных] – действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.
  p #[b Информационная система персональных данных] – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
  p #[b Трансграничная передача персональных данных] – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу.

  p: b 2. Общие положения политики
  ul
    li Настоящая Политика является неотъемлемой частью #[u Пользовательского соглашения], а также иных заключаемых с Пользователем  договоров, когда это прямо предусмотрено их условиями.
    li Заключая Пользовательское соглашение, а также соглашаясь иных способом с настоящей Политикой конфиденциальности,  Вы даете согласие на обработку своих персональных данных.
    li Политика в отношении обработки персональных данных определяется в соответствии со следующими нормативными правовыми актами Российской Федерации:
      ul
        li Конституцией Российской Федерации;
        li Трудовым кодексом Российской Федерации;
        li Гражданским кодексом Российской Федерации;
        li Федеральным законом от 19.12.2005 № 160-ФЗ «О ратификации Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных»;
        li Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных»;
        li Федеральным законом от 27.07.2006 №149-ФЗ «Об информации, информационных технологиях и о защите информации»;
        li Федеральным законом от 21.07.2014 №242-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации в части уточнения порядка обработки персональных данных в информационно-телекоммуникационных сетях».

  p: b 3. Перечень действий с персональными данными и способы их обработки
  ul
    li Общество осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, в том числе трансграничную (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных.
    li Обработка персональных данных осуществляется следующими способами:
      ul
        li неавтоматизированная обработка персональных данных;
        li автоматизированная обработка персональных данных с передачей полученной информации по информационно-телекоммуникационным сетям или без таковой;
        li смешанная обработка персональных данных.

  p: b 4. Цели обработки персональных данных
  ul
    li Персональные данные обрабатываются ООО «ЭсАрДжи-Ипотечный центр» в целях:
      ul
        li идентификация стороны в рамках интернет-ресурса express-ocenka.com, соглашений и договоров c Обществом;
        li связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования портала express-ocenka.com, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя;
        li повышения качества предоставляемых услуг, удобства использования Интернет-ресурса express-ocenka.com, разработка новых продуктов;
        li таргетирование рекламных материалов;
        li проведение статистических и иных исследований на основе обезличенных данных;
        li для осуществления прав и законных интересов Общества и/или третьих лиц.

  p: b 5. Обработка персональных данных в ООО «ЭсАрДжи-Ипотечный центр» осуществляется следующими способами:
  ul
    li неавтоматизированная обработка персональных данных;
    li автоматизированная обработка персональных данных с передачей полученной информации по информационно-телекоммуникационным сетям или без таковой;
    li смешанная обработка персональных данных.

  p: b 6. Требования к защите Персональной информации
  ul: li Общество принимает все необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.

  p: b 7. Изменение и отзыв Персональной информации
  ul: li Каждый Пользователь вправе изменить свою персональную информацию в личном кабинете.
