extends modules/static-page/static-page

block content
  p: b 1. Общие положения
  p #[b 1.1] Политика в отношении обработки персональных данных в ООО «ЭсАрДжи-АйТи» (далее – Политика) направлена на защиту прав и свобод физических лиц, персональные данные которых обрабатывает ООО «ЭсАрДжи-АйТи» (далее – Оператор).
  p #[b 1.2] Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. №152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»).
  p #[b 1.3] Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом.
  p #[b 1.4] В Политике используются следующие основные понятия:
    ul
      li блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
      li информационная система персональных данных – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств;
      li обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
      li оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
      li персональные данные – любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных);
      li предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
      li распространение персональных данных – действия, направленные на раскрытие персональных данных неопределенному кругу лиц;
      li уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.
  p #[b 1.5] Политика вступает в силу с момента ее утверждения и действует бессрочно до замены ее новой политикой.

  p: b 2. Сведения об операторе
  p #[b 2.1] Оператор ведет свою деятельность по адресу 105082, Москва, ул. Фридриха Энгельса, д. 75, корп. 11.
  p #[b 2.1] Приказом генерального директора в ООО «ЭсАрДжи-АйТи» ответственным за организацию обработки персональных данных назначен сотрудник технической поддержки и контроля качества Е. Ю. Шнейдер.

  p: b 3. Принципы обработки персональных данных
  p #[b 3.1] Обработка персональных данных осуществляется Оператором на законной и справедливой основе.
  p #[b 3.2] Обработка персональных данных Оператором ограничивается достижением конкретных, заранее определенных и законных целей. Оператором не обрабатываются персональные данные, несовместимые с целями сбора персональных данных.
  p #[b 3.3] Оператор не объединяет базы данных, содержащие персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
  p #[b 3.4] Обработке подлежат только персональные данные, которые отвечают целям их обработки.
  p #[b 3.5] Содержание и объем обрабатываемых персональных данных соответствуют заявленным Оператором целям обработки и не являются избыточными по отношению к заявленным целям их обработки.
  p #[b 3.6] При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных.
  p #[b 3.7] Хранение персональных данных Оператором осуществляется в форме, позволяющей определить субъект персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем, по которому является субъект персональных данных.
  p #[b 3.8] Обрабатываемые персональные данные по достижении целей обработки или в случае утраты необходимости в достижении этих целей подлежат уничтожению либо обезличиванию, если иное не предусмотрено федеральным законом.
  p #[b 3.9] Политика вступает в силу с момента ее утверждения и действует бессрочно до замены ее новой политикой.

  p: b 4. Сведения об обработке персональных данных
  p #[b 4.1] Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.
  p #[b 4.2] Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), блокирование, удаление и уничтожение.

  p: b 5.	Правовые основания обработки персональных данных
  p #[b 5.1] Оператор обрабатывает персональные данные в соответствии со следующими нормативными и правовыми актами:
    ul
      li ст. 23-24 Конституции РФ;
      li ст. 86-90 Трудового кодекса РФ;
      li Гражданский кодекс РФ;
      li Налоговый кодекс РФ;
      li ст. 6 ФЗ «О персональных данных»;
      li Федеральный закон от 29.07.1998 №135-ФЗ «Об оценочной деятельности в Российской Федерации»;
      li устав ООО «ЭсАрДжи-АйТи».

  p: b 6. Субъекты, категории, цели и основания обработки персональных данных
  p #[b 6.1] Субъекты, цели и основания обработки персональных данных указаны в таблице 1.
  p
    | Таблица 1
    table
      thead
        tr
          td № п/п
          td Субъекты персональных данных
          td Цели обработки персональных данных
          td Основания обработки персональных данных
      tbody
        tr
          td 1
          td Работники
          td Ведение кадрового учета;
          td Ст. 86-90 Трудового кодекса соблюдение трудового законодательства Российской Федерации
        tr
          td 2
          td Оценщики
          td Выполнение договорных обязательств
          td Федеральный закон от 29.07.1998 №135-ФЗ "Об оценочной деятельности в Российской Федерации"
        tr
          td 3
          td Клиенты оценочных компаний
          td Выполнение договорных обязательств
          td Федеральный закон от 29.07.1998 №135-ФЗ "Об оценочной деятельности в Российской Федерации"
  p #[b 6.2] Оператор осуществляет обработку персональных данных, перечень которых утверждается приказом генерального директора.

  p: b 7. Описание обработки персональных данных
  p #[b 7.1] Обработка персональных данных работников
  p #[b 7.1.1] Оператор обрабатывает персональные данные работников Оператора в рамках правоотношений, урегулированных Трудовым Кодексом Российской Федерации от 30 декабря 2001 г. № 197-ФЗ (далее — ТК РФ), в том числе главой 14 ТК РФ, касающейся защиты персональных данных работников.
  p #[b 7.1.2] Оператор не принимает решения, затрагивающие интересы работников, основываясь на их персональных данных, полученных исключительно в результате автоматизированной обработки.
  p #[b 7.1.3] Оператор знакомит работников под роспись с документами, устанавливающими порядок обработки персональных данных работников, а также об их правах и обязанностях в этой области.
  p #[b 7.1.4] Оператор разрешает доступ к персональным данным работников только тем лицам, которым доступ к этим персональным данным необходим для выполнения их служебных обязанностей. Перечень работников, допущенных к обработке персональных данных, утверждается приказом генерального директора ООО «ЭсАрДжи-АйТи».
  p #[b 7.1.5] Оператор получает все персональные данные работников у них самих. Если данные работника возможно получить только у третьей стороны, Оператор заранее уведомляет об этом работника и получает его письменное согласие.
  p #[b 7.1.6] Оператор сообщает работнику о целях, источниках, способах получения, а также о характере подлежащих получению данных и последствиях отказа работника дать письменное согласие на их получение.
  p #[b 7.1.7] Оператор обрабатывает персональные данные работников в течение срока действия трудового договора. Оператор обрабатывает персональные данные уволенных работников в течение срока, установленного п. 5 ч. 3 ст. 24 части первой Налогового кодекса Российской Федерации от 31 июля 1998 г. № 146-ФЗ, ч. 1 ст. 29 Федерального закона «О бухгалтерском учёте» от 6 декабря 2011 г. № 402-ФЗ и иными нормативными правовыми актами.
  p #[b 7.1.8] Оператор может обрабатывать специальные категории персональных данных работников (сведений о состоянии здоровья, относящихся к вопросу о возможности выполнения ими трудовых функций) на основании п. 2.3 ч. 2 ст. 10 ФЗ «О персональных данных».
  p #[b 7.1.9] Оператор не обрабатывает биометрические персональные данные работников.
  p #[b 7.1.10] Оператор не получает данные о членстве работников в общественных объединениях или их профсоюзной деятельности, за исключением случаев, предусмотренных ТК РФ или иными федеральными законами.
  p #[b 7.1.11] Оператор не сообщает третьей стороне персональные данные работника без его письменного согласия, кроме случаев, когда это необходимо для предупреждения угрозы жизни и здоровью работника, а также в других случаях, предусмотренных ТК РФ, ФЗ «О персональных данных» или иными федеральными законами.
  p #[b 7.2] Обработка персональных данных других физических лиц
  p #[b 7.2.1] Оператором ведётся обработка персональных данных оценщиков, клиентов оценочных компаний.
  p #[b 7.2.2] Персональные данные физических лиц, указанных в п.7.2.1, хранятся в электронном виде в форме отчетов об оценке в центре обработки данных, принадлежащем АО «РСИЦ», по адресу 123098, Москва, пл. Академика Курчатова, д.1, стр.119. Доступ к персональным данным имеют лица, определенные внутренними локальными актами АО «РСИЦ», а также лица, определенные «Перечнем работников, допущенных к обработке персональных данных в ООО «ЭсАрДжи-АйТи», утвержденным приказом генерального директора.
  p #[b 7.2.3] Персональные данные физических лиц, указанных в п.7.2.1, содержащиеся в отчетах об оценке, хранятся 3 года согласно ст.15 Федерального закона от 29.07.1998 №135-ФЗ "Об оценочной деятельности в Российской Федерации".
  p #[b 7.2.4] Персональные данные физических лиц, указанных в п.7.2.1, могут передаваться в банки в электронном виде в форме отчетов об оценке с целью выполнения договорных обязательств между Оператором и банками.
  p #[b 7.2.5] Оператор обрабатывает персональные данные оценщиков для исполнения заключенных с ними договоров, стороной которых они являются. Договор считается заключенным после акцепта оценщиками публичной оферты Оператора, размещенной в открытом доступе на его официальном сайте.
  p #[b 7.2.6] Клиенты оценочных компаний дают письменное согласие на обработку своих персональных данных лицам, являющимся клиентами Оператора (юридическим лицам, физическим лицам, осуществляющим предпринимательскую деятельность без образования юридического лица, или физическим лицам – оценщикам). Согласно ч.4 ст.6 ФЗ «О персональных данных» Оператор не обязан получать согласие клиентов оценочных компаний на обработку их персональных данных.
  p #[b 7.2.7] Оператор не передает персональные данные физических лиц, указанных в п.7.2.1, третьим лицам без их согласия.

  p: b 8. Условия обработки персональных данных
  p #[b 8.1] Обработка персональных данных допускается в следующих случаях:
    ul
      li обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
      li обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на Оператора функций, полномочий и обязанностей;
      li обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном;
      li обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных, в том числе в случае реализации оператором своего права на уступку прав (требований) по такому договору, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
      li обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных, если получение согласия субъекта персональных данных невозможно;
      li обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
      li осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
      li осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
  p #[b 8.2] Оператор не предоставляет и не раскрывает сведения, содержащие персональные данные субъектов, третьей стороне без письменного согласия субъекта персональных данных за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью, а также в случаях, установленных федеральными законами.
  p #[b 8.3] По мотивированному запросу исключительно для выполнения возложенных законодательством функций и полномочий персональные данные субъекта персональных без его согласия могут быть переданы:
    ul
      li в судебные органы в связи с осуществлением правосудия;
      li в органы федеральной службы безопасности;
      li в органы прокуратуры;
      li в органы полиции;
      li в иные органы и организации в случаях, установленных нормативными правовыми актами, обязательными для исполнения.
  p #[b 8.4] Оператор прекращает обработку персональных данных в следующих случаях:
    ul
      li достижение целей обработки персональных данных или максимальных сроков хранения – в течение 30 дней;
      li утрата необходимости в достижении целей обработки персональных данных – в течение 30 дней;
      li предоставление субъектом персональных данных или его законным представителем сведений, подтверждающих, что персональные данные являются незаконно полученными или не являются необходимыми для заявленной цели обработки – в течение 7 дней;
      li невозможность обеспечения правомерности обработки персональных данных – в течение 10 дней;
      li отзыв субъектом персональных данных согласия на обработку персональных данных, если сохранение персональных данных более не требуется для целей обработки персональных данных – в течение 30 дней;
      li истечение сроков исковой давности для правоотношений, в рамках которых осуществляется либо осуществлялась обработка персональных данных.

  p: b 9. Меры обеспечения безопасности персональных данных
  p #[b 9.1] Безопасность персональных данных, обрабатываемых Оператором, обеспечивается реализацией правовых, организационных и технических мер, необходимых и достаточных для обеспечения выполнения требований законодательства в области защиты персональных данных.
  p #[b 9.2] Оператор предпринимает необходимые организационные и технические меры для обеспечения безопасности персональных данных от случайного или несанкционированного доступа, уничтожения, изменения, блокирования доступа и других несанкционированных действий.
  p #[b 9.3] Оператор предпринимает следующие организационно-технические меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами:
    ul
      li назначение должностных лиц, ответственных за организацию обработки и защиту персональных данных;
      li издание локальных актов по вопросам обработки персональных данных, а также локальных актов, устанавливающих процедуры, направленные на предотвращение и выявление нарушений  законодательства	Российской	Федерации,	устранение	последствий	таких нарушений;
      li осуществление внутреннего контроля и (или) аудита соответствия обработки персональных данных ФЗ «О персональных данных» и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, политике Оператора в отношении обработки персональных данных, локальным актам Оператора;
      li оценка вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных», соотношение указанного вреда и принимаемых оператором мер;
      li ознакомление работников, непосредственно осуществляющих обработку персональных данных, с положениями законодательства Российской Федерации о персональных данных, в том числе требованиями к защите персональных данных, документами, определяющими политику оператора в отношении обработки персональных данных, локальными актами по вопросам обработки персональных данных и (или) обучение указанных работников;
      li определение угроз безопасности персональных данных при их обработке в информационных системах персональных данных;
      li применение организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных, необходимых для выполнения требований к защите персональных данных, исполнение которых обеспечивает установленный в информационной системе персональных данных уровень защищенности;
      li применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации в случае, когда применение таких средств необходимо для нейтрализации актуальных угроз;
      li оценка эффективности принимаемых мер по обеспечению безопасности персональных данных;
      li учет машинных носителей персональных данных;
      li обнаружение фактов несанкционированного доступа к персональным данным и принятием мер;
      li восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
      li установление правил доступа к персональным данным, обрабатываемым в информационной системе персональных данных, а также обеспечение регистрации и учета всех действий, совершаемых с персональными данными в информационной системе персональных данных;
      li контроль за принимаемыми мерами по обеспечению безопасности персональных данных и уровня защищенности информационных систем персональных данных.

  p: b 10. Права субъектов персональных данных
  p #[b 10.1] Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных, в том числе содержащей:
    ul
      li подтверждение факта обработки персональных данных Оператором;
      li правовые основания и цели обработки персональных данных;
      li цели и применяемые Оператором способы обработки персональных данных;
      li наименование и место нахождения Оператора, сведения о лицах (за исключением сотрудников/работников Оператора), которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с Оператором или на основании федерального закона;
      li обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных, источник их получения, если иной порядок представления таких данных не предусмотрен федеральным законом;
      li сроки обработки персональных данных, в том числе сроки их хранения;
      li порядок осуществления субъектом персональных данных прав, предусмотренных ФЗ «О персональных данных»;
      li информацию об осуществленной или о предполагаемой трансграничной передаче данных;
      li наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению Оператора, если обработка поручена или будет поручена такому лицу;
      li иные сведения, предусмотренные ФЗ «О персональных данных» или другими федеральными законами.
  p #[b 10.2] Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
  p #[b 10.3] Если субъект персональных данных считает, что Оператор осуществляет обработку его персональных данных с нарушением требований ФЗ «О персональных данных» или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Оператора в вышестоящий орган по защите прав субъектов персональных данных (Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций – Роскомнадзор) или в судебном порядке.
  p #[b 10.4] Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.
  p #[b 10.5] Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору либо направить запрос лично или с помощью представителя. Запрос должен содержать сведения, указанные в ч. 3 ст. 14 ФЗ «О персональных данных».

  p: b 11. Заключительные положения
  p #[b 11.1] Контроль исполнения требований Политики осуществляется ответственным за организацию обработки персональных данных в ООО «ЭсАрДжи-АйТи».
  p #[b 11.2] Иные права и обязанности Оператора персональных данных определяются ФЗ «О персональных данных» и иными нормативными правовыми актами в области защиты персональных данных.
  p #[b 11.3] Должностные лица, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско- правовую и уголовную ответственность в порядке, установленном федеральными законами.
