extends pug/_layout
include modules/popup/popup
include modules/menu/menu
include modules/footer/footer

block body
  +menu()
  include modules/search/search
  include modules/registry/registry
  +footer()