extends modules/static-page/static-page

block content
  p: b 1. ОБЩИЕ ПОЛОЖЕНИЯ
  p #[b 1.1] Настоящий документ является официальной публичной офертой #[b Общества с ограниченной ответственностью «ЭсАрДжи-Ипотечный центр»], в дальнейшем именуемого Исполнитель, и содержит все существенные условия оказания информационных услуг. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты становится Заказчик. В соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте.
  p #[b 1.2] Договор-оферта является официальным предложением Исполнителя (офертой) к заключению договора информационных услуг (далее по тексту Услуги) и содержит все существенные условия договора оказания информационных услуг (далее по тексту – Договор).
  p #[b 1.3] Осуществляя оплату Услуг в порядке, размере и сроки, указанные в безоговорочно принимает все условия Договора в том виде, в каком они изложены в тексте Договора.
  p #[b 1.4] Заказчик понимает, что оплата Услуг по Договору равносильна заключению Договора на условиях в нем изложенных.
  p #[b 1.5] Договор размещается на сайте Исполнителя #[u http://express-ocenka.com]

  p: b 2. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ
  ul
    li #[b Акцепт оферты] — полное и безоговорочное принятие условий оферты путем создания Заказчиком на сайте Заявки и выражающее намерение воспользоваться веб-сайтом для оформления услуги.
    li #[b Сайт] - интернет-сайты: #[u http://express-ocenka.com], а также все к ним относящиеся “поддомены”, используемые Исполнителем на праве собственности.
    li #[b Заказчик] – физическое или юридическое лицо, осуществившее Акцепт Оферты на изложенных в ней условиях.
    li #[b Заказ] – действия Заказчика на Сайте, направленные на получение Информационной услуги.
    li #[b Исполнитель] – Общество с ограниченной ответственностью «ЭсАрДжи-Ипотечный центр»
    li #[b Информационные услуги] – предварительная проверка объекта недвижимости (квартиры) с целью определения соответствия требованиям, предъявляемых Банком ВТБ 24 (ПАО), далее по договору Банком, к предмету залога при кредитовании, включающую инспекцию объекта недвижимости, анализ предполагаемой цены отчуждения и проверку самого объекта на возможность принятия Банком в залог. Результатом оказания Информационных услуг может быть Сертификат, либо Рекомендация.
    li #[b Инспекция объекта недвижимости (квартиры)] – визуальный осмотр, фотографирование, заполнение информационных листов и актов осмотра.
    li #[b Инспектор] – сотрудник Исполнителя, проводящий инспекцию объекта недвижимости.
    li #[b Сертификат] – документ в электронном виде, доступный в личном кабинете на сайте: #[u http://express-ocenka.com] при положительном результате проверки объекта недвижимости (квартиры), действующий в течении 6 (шести) месяцев с даты выдачи.
    li #[b Рекомендация] – суждение Исполнителя, относительно невозможности получения Сертификата, как подтверждения соответствия требованиям, предъявляемых Банком к предмету залога при кредитовании.

  p: b 3. ПРЕДМЕТ ДОГОВОРА
  p #[b 3.1.] Предметом настоящего Договора является возмездное оказание Заказчику Информационных услуг силами Исполнителя в соответствии с условиями настоящего Договора с целью определения соответствия проверяемого объекта недвижимости (квартиры) требованиям, предъявляемых Банком к предмету залога при кредитовании, за вознаграждение, выплачиваемое Заказчиком Исполнителю.
  p #[b 3.1.1.] В случае соответствия объекта недвижимости (квартиры) требованиям Банка, Исполнитель выпускает соответствующий Сертификат в электронном виде, доступный Заказчику в личном кабинете на сайте #[u http://express-ocenka.com].
  p #[b 3.1.2.] В случае несоответствия объекта недвижимости (квартиры) требованиям Банка, Заказчик получает соответствующее уведомление в виде Рекомендации в личном кабинете, доступном на сайте: #[u http://express-ocenka.com].
  p #[b 3.2.] Договор на оказание информационных услуг считается заключенным с момента поступления денежных средств, указанных в п. 4.1 на расчетный счет Исполнителя.

  p: b 4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ
  p #[b 4.1.] Стоимость Информационной услуги составляет 990 (девятьсот девяносто) рублей РФ.
  p #[b 4.2.] Оплата оказания информационных услуг осуществляется в порядке 100 (сто) % предоплаты до начала оказания услуг.

  p: b 5. УСЛОВИЯ ОКАЗАНИЯ ИНФОРМАЦИОННЫХ УСЛУГ
  p #[b 5.1.] Предоставление Заказчику Информационной услуги возможно при условии создания им на Сайте соответствующей учетной записи. Учетная запись (регистрационный аккаунт) должна содержать реальные фамилию, имя, отчество Заказчика и корректный номер телефона.
  p #[b 5.2.] Предоставление Заказчику Информационной услуги возможно при условии создания им на Сайте Заявки. Заявка должна содержать:
  p #[b 5.2.1.] реальные фамилию, имя, отчество Заказчика, корректный номер телефона, адрес объекта недвижимости (квартиры);
  p #[b 5.2.2.] 100 (сто) % предоплату услуги;
  p #[b 5.2.3.] загруженные на сайт документы (перечень указан на сайте) по объекту недвижимости (квартиры).
  p #[b 5.3.] Исполнитель обязуется предоставить Заказчику Информационную услугу в течение 2 (двух) рабочих дней с момента создания Заказа на Сайте, предоставления полного пакета необходимых документов (перечень указан на сайте), поступления денежных средств на счет Исполнителя и предоставления объекта недвижимости (квартиры) для инспекции.
  p #[b 5.4.] В случае, если в течение 2 (двух) рабочих дней с Заказчиком по той или иной причине не связался представитель Исполнителя, ему необходимо обратиться в службу поддержки Исполнителя в письменном виде по адресу: support@srgroup.ru
  p #[b 5.5.] Настоящий договор имеет силу акта об оказании слуг. Прием оказанных услуг производится Заказчиком без подписания соответствующего акта.
  p #[b 5.6.] При отсутствии у Заказчика претензий в течение 2 (двух) рабочих дней после направления Исполнителем Сертификата или Рекомендации Заказчику в личный кабинет на сайте #[u http://express-ocenka.com], обязательства Исполнителя по предоставлению услуг считаются выполненными.
  p #[b 5.7.] Исполнитель оставляет за собой право аннулировать Заказ без возврата платы, внесенной согласно п. 4.1 настоящего Договора, в случае нарушения им требований к оказанию информационной услуги, применяемой к Заказчику, а именно:
  p #[b 5.7.1.] Перенос/изменение времени инспекции возможно не позднее чем за 24 часа до согласованного ранее времени инспекции.
  p #[b 5.7.2.] Заказчик не приехал на осмотр в установленное время (опоздание более чем на 30 минут).
  p #[b 5.7.3.] Заказчик отказался предоставлять объект недвижимости (квартиру), либо отдельные части/помещения, указанные в Заявке и/или документах.
  p #[b 5.8.] Исполнитель оставляет за собой право аннулировать Заявку Заказчика без возврата внесенной платы в случае выявления фактов мошенничества с загруженными на Сайт документами.
  p #[b 5.9.] Заказчик самостоятельно отслеживает изменение реквизитов Исполнителя, указанных в настоящем Договоре и несет ответственность за правильность производимых им платежей.

  p: b 6. ПРАВА И ОБЯЗАНОСТИ ИСПОЛНИТЕЛЯ
  p #[b 6.1.] Исполнитель обязуется предоставлять Заказчику круглосуточный доступ к Сайту с использованием учетной записи Заказчика.
  p #[b 6.2.] Исполнитель несет ответственность за хранение и обработку персональных данных Заказчика, обеспечивает конфиденциальность этих данных в процессе их обработки и использует их исключительно для качественного оказания Информационной услуги Заказчику.
  p #[b 6.3.] Исполнитель обязуется принимать своевременные меры по предупреждению и регулированию нарушения качества предоставляемых услуг. Своевременно информировать Заказчика об изменениях в структуре услуг, оказываемых по настоящему договору и условиях их оказания.

  p: b 7. ПРАВА И ОБЯЗАНОСТИ ЗАКАЗЧИКА
  p #[b 7.1.] Заказчик обязан предоставлять достоверную информацию о себе и объекте недвижимости в процессе создания учетной записи (регистрации), либо Заявки на Сайте.
  p #[b 7.2.] Заказчик обязан предоставлять к Инспекции объект недвижимости (квартиру) расположенную по адресу, указанному в Заявке.

  p: b 8. РАССМОТРЕНИЕ ПРЕТЕНЗИЙ. ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ
  p #[b 8.1.] Исполнитель не несет ответственности за непредставление (некачественное предоставление) Информационной услуги по причинам, не зависящим от Исполнителя.
  p #[b 8.2.] Возврат денежных средств не осуществляется при условии, что Инспекция объекта недвижимости (квартиры) состоялась. Данные условия безоговорочно принимаются Сторонами.
  p #[b 8.3.] Возврат денежных средств не осуществляется при условии, что Инспекция объекта недвижимости (квартиры) не состоялась по вине Заказчика. Данные условия безоговорочно принимаются Сторонами.

  p: b 9. ОТВЕТСТВЕННОСТЬ СТОРОН
  p #[b 9.1.] За неисполнение либо ненадлежащее исполнение обязательств по настоящей Оферте, стороны несут ответственность в соответствии с законодательством Российской Федерации. Заказчик несет ответственность за конфиденциальность пароля. При установлении Заказчиком фактов несанкционированного доступа к своей учетной записи, он обязуется в кратчайшие сроки уведомить об этом обстоятельстве службу поддержки Исполнителя по адресу: support@srgroup.ru.
  p #[b 9.2.] Исполнитель и Заказчик, принимая во внимания характер оказываемой услуги, обязуются в случае возникновения споров и разногласий, связанных с оказанием Информационной услуги, применять досудебный порядок урегулирования спора (переговоры, переписка). В случае невозможности урегулирования спора в досудебном порядке стороны вправе обратиться в суд города Москвы.

  p: b 10. ФОРС-МАЖОР
  p #[b 10.1.] Стороны не несут ответственность за неисполнение, либо ненадлежащее исполнение обязательства по настоящему договору, если докажут, что это произошло вследствие наступления обстоятельств непреодолимой силы (форс-мажор), возникших после заключения настоящего Договора в результате событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами, и Стороны предприняли все возможные и зависящие от них меры по надлежащему исполнению своих обязанностей
  p #[b 10.2.] О наступлении форс-мажорных обстоятельств, Стороны должны уведомить друг друга в течение трех рабочих дней с момента их наступления.
  p #[b 10.3.] В случае возникновения форс-мажорных обстоятельств срок выполнения обязательств по настоящему договору переносится на период, в течение которого действуют такие обстоятельства и их последствия.

  p: b 11. СРОКИ ДЕЙСТВИЯ ОФЕРТЫ. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
  p #[b 11.1.] Договор вступает в силу с момента акцепта Оферты Заказчиком и действует до момента исполнения Сторонами обязательств по Договору.
  p #[b 11.2.] Заказчик соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих изменений в заключенный и действующий между Заказчиком и Исполнителем Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту.
  p #[b 11.3.] Исполнитель вправе в любое время вносить изменения в условия Договора. Изменения в условия Договора начинают свое действие с момента опубликования их на Сайте Исполнителя #[u http://express-ocenka.com].
  p #[b 11.4.] Договор может быть отозван Исполнителем в любое время.
  p #[b 11.5.] Договор не требует скрепления печатями и/или подписания Заказчиком и Исполнителем, сохраняя при этом полную юридическую силу.

  p Реквизиты Исполнителя:
  p: b OOO «ЭсАрДжи-Ипотечный Центр»
  p Почтовый адрес: 105082, г. Москва, ул. Ф. Энгельса, д. 75, стр. 11
  p ИНН 7705860470, КПП 770101001
  p ОГРН 5087746296710, дата присвоения: 23.10.2008 г.
  p Обслуживающий банк: ПАО Сбербанк
  p БИК: 044525225
  p Р/с: 40702810338290030384
  p Ген. Директор: Абдуллин Марат Харрясович