section.video: .w
  .video__content
    h2.title.video__title Видео
    .video__text Посмотрите видео — этот текст описывает видео,#[br]рассказывает что вы узанете посмотрев его.

  .video__video
    .video__container
      iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
