.done
  text-align: center
  color: #505050

  &__title
    font-size: 32px
    ffGotham()

  &__text
    font-size: 19px
    line-height: 1.4
    margin: 20px auto 60px
    max-width: 440px

    @media (max-width: $breakpoint-sm - 1)
      margin-bottom: 20px


  &__button
    display: inline-block
    vertical-align: middle
    background: #898989
    height: 64px
    line-height: 64px
    color: #fff
    font-size: 15px
    font-weight: 500
    text-transform: uppercase
    border-radius: 4px
    padding: 0 34px
    margin: 15px 15px
    cursor: pointer
    anim(.15s)
    ffGotham()

    &:hover
      background: #656464

    &--primary
      background: #e94c36

      &:hover
        background: #c84735