include ../form/form

+form(2)
  .done
    .done__title
      .done__logo
      | Все готово!
    .done__text
      | Ваша заявка принята!
      | Наш специалист свяжется с Вами в ближайшее время
    .done__buttons
      a.done__button(href='') На сайт
      a.done__button.done__button--primary(href='/profile') В личный кабинет
