include ../form/form

+form(2)
  .done
    .done__title
      .done__logo
      | Заявка отправлена на проверку
    .done__text В ближайшее время с Вами свяжется специалист, sчтобы согласовать точное время выезда на объект
    .done__buttons
      a.done__button(href='..') на сайт
      a.done__button.done__button--primary(href='profile.html') В личный кабинет
